Django==6.1
djangorestframework==3.18.0
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.3.0
django-filter==26.1
django-redis==7.0.0
django-ratelimit==4.1.0
django-extensions==4.1
# django-debug-toolbar==4.2.0
psycopg2-binary==2.9.12
celery==5.6.3
redis==8.1.0
resend==2.36.0
httpx==0.28.1
python-dotenv==1.0.0
reportlab==5.0.0
openpyxl==3.1.5
Pillow==12.0.0
pytest==9.1.1
pytest-django==4.14.0
pytest-cov==7.1.0
factory-boy==3.3.3
gunicorn==23.0.0
setuptools==80.10.2